<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>
        app</title>
    <link href="${request.contextPath}/statics/dist3/static/css/app.5a201757234ce37cac747d1cecadf323.css" rel=stylesheet>
</head>
<body>
<div id=app-box>
</div>
<script type=text/javascript src="${request.contextPath}/statics/dist3/static/js/manifest.fab45c431d4ebe24f125.js">
</script>
<script type=text/javascript src="${request.contextPath}/statics/dist3/static/js/vendor.f1d4f0c38c63d2a7ac6f.js">
</script>
<script type=text/javascript src="${request.contextPath}/statics/dist3/static/js/app.ce9057ddf3c6448aaef5.js">
</script>
</body>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                // if (clientWidth<=320){
                //     docEl.style.fontSize = '50px';
                // }
                // else if(clientWidth>=640){
                //     docEl.style.fontSize = '100px';
                // }
                // else{
                docEl.style.fontSize = (clientWidth / 10) + 'px';
                //}
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);</script>
<script>
    var script = document.createElement('script');
    script.src = "https://res.wx.qq.com/open/js/jweixin-1.4.0.js";
    document.body.appendChild(script);</script>
</html>
